/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
width:100%;
    margin: 0;
	/*background: #ECE8DD;*/
	background: #FFFBEF;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#996666;}

h1, h2, h3 {
}

h2, h3 {
	font-family: small Georgia, "Times New Roman", Times, serif;
	color: #996666;
	padding-left:10px;
	margin-bottom:10px;
	
}
h6 {
    margin-top:5px;
    margin-left:7px; 
	    margin-right:7px; 

    width:auto;
	border:none;
	border-bottom:1px solid #996666;
	height:1px;
	margin-bottom:15px;
	}

p, blockquote, ul, ol {
}

p {
}

blockquote {
	margin-left: 3em;
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}

a {
	color: #669999;
}

a:hover {
	text-decoration: none;
	color: #996666;
}

img {
}

/* Boxed Style */

.boxed {
}

.boxed .title {
	height: 26px;
	padding: 10px 0 0 10px;
	font-size: 1em;
	color: #713816
	
}

.boxed .content {
	padding: 20px 20px 40px 20px;

}

/* Post */

.post {
	margin-bottom: 15px;
	padding: 5px 20px 20px 20px;
	/*background: url(images/img05.gif) no-repeat center;*/
}

.post .title {
	margin-bottom: 20px;
	color: #713816
}

.post .date {
	float: left;
	width: 70px;
	padding-right: 20px;
	text-align: right;
	font-size: x-small;
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
	display: none;
}

.post .meta {
	float: left;
	padding-left: 20px;
	border-left: 1px dotted #713816;
	font-size: x-small;
}

.post .meta p {
}

.post .story {
	padding-top: 50px;
}

.post h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .8em;
}

.post .story p, .post .story blockquote, .post .story ul, .post .story ol {
	margin-bottom: 1.5em;
	line-height: 180%;
}
/* Logo */

#logo {
	width:100%;
	height: 100px;
	max-height:100px;
	background: url(images/header.png) no-repeat center;
}


#logo h1 {
	padding: 90px 0 0 30px;
	letter-spacing: -3px;
	font-size: 2em;
}

#logo h2 {
	padding: 0 0 0 100px;
	font-size: 1.8em;
}

#logo a {
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	color: #713816;
}
#nav {
	height:48px;
	list-style:none;
	margin-left:240px;

}

#nav li {
background-repeat:no-repeat;
width:80px;

		float:left;
		
	}

#nav li a {
			display:block;
			background-repeat:no-repeat;
			width:100%;
			height:48px;
			line-height:45px;
			text-align:center;
			text-decoration:none;
	        color:#006699;
		}

#nav li a:hover {
					/*color:#fb4e00;*/
					color:#A3CD13;
					text-decoration:none;
				}

/* Menu */

#menu {
/* Encimar capa */
float: left;
top:1px;
left:1px;
/* Dimensiones de la imagen */
width: 95%;
height:200px;
}

/* Content */

#content {
    margin-top:5px;
	width: 100%;
	/*margin: 0 auto;*/
	height:auto;
	
	
}
#extra {
}

/* Content > Main */

#main {

	/*float: right;*/
	position:absolute;
	margin-left:220px;
	margin-right:10px;
	padding-top:10px;
	width: 78%;
	height:auto;
	background-color: #ECE8DD;


	
	 
}
#main h2 {
padding-top:10px;
padding-left:10px;
padding-bottom:10px;
   
}

#main a {
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
    left:1px;
	height:30%;
	position:absolute;



 }
#sidebar a {
font-size:100%;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-style:normal;
}

#sidebar h3 {
font-family: "Times New Roman",Times,serif;

font-style: normal;

font-variant: normal;

font-weight: normal;

font-size: 24px;

line-height: normal;

font-size-adjust: none
}

/* Content > Sidebar > Login */

#login {
}

#login form {

}

#login fieldset {
	border: none;
}

#login legend {
	display: none;
}

#login label {
	font-size: x-small;
	font-weight: bold;
}

#login input {
	margin-bottom: 5px;
	padding: 2px 5px;
	border: 1px solid #385B88;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:100px;
}


#inputtext1, #inputtext2 {
	color: #385B88;
}

#inputsubmit1 {
	background: #385B88;
	color: #FFFFFF;
}

/* Content > Sidebar > Login */
.login_box {
top:148px;
padding-top:8px;
width: 172px;
height:155px;
display:block;
position:absolute;
left:1px;
background:   url(images/login_box.png) no-repeat top;

}

.login_box p {

margin:20px 10px 0 25px;
top:20px;
color:#008080;
font-style:normal;
font-weight:bold;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.login_box label {

top:2px;

margin-left:10px;
color:#006cb4;
background-color:#ECE8DD;
border: double;
padding-left:2px;
padding-right:2px;
font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size:11px;

}

.login_box input{
border-top: 1pt solid #cccccc;
border-bottom: 1pt solid #cccccc;
border-right: 1pt solid #cccccc;
border-left: 1pt solid #cccccc;
font: normal 11px tahoma;
width:100px;
color:#008080;
margin:5px 10px 5px 10px;
top:20px;
padding:2px 2px 2px 2px;
height:20px;

}

.login_box inputlogin {
border-top: 1pt solid #cccccc;
border-bottom: 1pt solid #cccccc;
border-right: 1pt solid #cccccc;
border-left: 1pt solid #cccccc;
font: normal 11px tahoma;
width:100px;
color:#008080;
margin:5px 10px 5px 25px;
top:20px;
margin-top:10px !important;
padding:0;

}
input.button_login   {
border-top: 1pt solid #ece8dd;
border-left: 1pt solid #ece8dd;

border-bottom: 1pt solid #8f7f74;
border-right: 1pt solid #8f7f74;



font:  small "Times New Roman", Times, serif;
color:#996666;
margin:5px 15px 15px 30px;
top:10px;
width: 80px;
height:23px;
 background-color: #FFFFFF;
} 
input.button_login:hover {
border-top: 1pt solid  #8f7f74;
border-left: 1pt solid #8f7f74;

border-bottom: 1pt solid #ece8dd;
border-right: 1pt solid #ece8dd;
color: #006cb4;

} 
/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	margin: 0;
	font: bold x-small Verdana, Arial, Helvetica, sans-serif;
}

#updates p {
	margin-bottom: 1.4em;
	font-size: smaller;
	line-height: normal;
}

/* Content > Sidebar > Partners*/

#partners {
}

#partners .content {
	padding: 10px 0;
}

#partners ul {
	margin: 0;
	border-bottom: 1px solid #D1BC5C;
	list-style: none;
	line-height: normal;
}

#partners li {
	padding: 10px;
	border-top: 1px solid #D1BC5C;
}

/* Footer */

#footer {
    
	clear: both;
	width: 70%;
	margin: 0 170px;
	padding: 10px 0;
	border-top: 1px dotted #713816;
}

#footer p {
	margin: 0;
	font-size: x-small;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}

/* DESPLEGABLE */
.glossymenu{
padding: 0;
width: 172px; /*width of menu*/
font-size:12px;

padding-left:5px;

}

.loginContent{
/* Encimar capa */
position:relative;
float: left;
top:45px;
left:1px;
/* Dimensiones de la imagen */
width:265px;
height:20px;


}


.formlogin{
border:double; 
background-color: #CCCC99;
color:#660000;

	font: bold small Verdana, Arial, Helvetica, sans-serif;

}
.glossymenu .submenuheader a.menuitem{
height: 20px;
line-height:20px;
border-bottom-width:1px;
border-bottom-style:solid;
border-bottom-color: #9A9A9A;
font:0.60em  "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color:#008080;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width:172px;
text-decoration: none;
font-size:12px;

padding-left:5px;

}

.glossymenu ul.menuitem{

}

.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{

	
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
width:172px;

}

.glossymenu a.menuitem:hover{
color:#996666;

width:162px;
}






.glossymenu div.submenu1{ /*DIV that contains each sub menu*/

}

.glossymenu div.submenu1 ul{ /*UL of each sub menu*/

width:172px;


}

		
		
		
.glossymenu div.submenu1 ul li{

padding-top:5px;

padding-bottom:4px;



}

.glossymenu div.submenu1 ul li a{
font: 0.80em "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
text-decoration: none;
padding-left:5px;

}

.glossymenu div.submenu1 ul li a:hover{


}


